# Loading Dataset

In [1]:
import pandas as pd
filepath='./NULBdata.csv'
data=pd.read_csv(filepath)

data.head()

,S.N.,Date,Open,High,Low,Ltp,% Change,Qty,Turnover
0,1,15/05/2024,675,682.9,660.1,660.1,-1.62,"15,761.00","1,06,01,118.70"
1,2,14/05/2024,655,674.9,655,671,3.07,"18,718.00","1,25,18,869.30"
2,3,13/05/2024,650,658,645,651,0.11,"5,463.00","35,48,046.70"
3,4,12/05/2024,670,670,650.3,650.3,-2.94,"6,884.00","45,11,826.40"
4,5,09/05/2024,683,689.6,662.6,670,-0.89,"14,540.00","97,68,167.80"

In [3]:
#Defining max encoder length and max prediction length
#max_encoder_length is amount of recent past data that model uses to predict the future value(in our case 75)
#max_prediction_length is the amount of future data that model predicts(in our case 15 )
max_encoder_length = 75 
max_prediction_length = 15